
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
.imag{
    margin-top: 15px;
    margin-left: 20px;
}
.asd{
    margin-top: 25px;
    margin-left: 35px;
}
.fpw{
    margin-top: 25px;
    margin-left: 35px;
}
h2{
    font-size: 18px;
    font-weight: normal;
}
h1 {
    color: #d93025;
    font-size: 25px;
    font-weight: normal;
}

form {
    max-width: 1200px;
    margin: 20px 35px;
    padding: 0;
}

.all {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.ltext {
    font-size: 16px;
    color: #5f6368;
}
.ltext p{
    margin-bottom: 30px;
}
.rtext{
    font-size: 13px;
    color: #5f6368;
}
.rtext p{
    margin-bottom: 35px;
}


.fields {
    flex: 2;
}

.fields input[type="text"] {
    flex: 2;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; 
    box-sizing: border-box;
    border: 1px solid #dcdfe1;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}
.asb {
    text-align: end;
    
}

.topRight {
    position: absolute;
    top: 10px;
    right: 10px;
}

.topRight a {
    margin-left: 10px;
    text-decoration: none;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.topRight a:hover {
    color: #357ae8;
    text-decoration: underline;
}


input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4285F4;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #357ae8;
}